<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">
    <broker xmlns="http://activemq.apache.org/schema/core"
            useJmx="true" persistent="true">
        <transportConnectors>
            <transportConnector uri="vm://localhost"/>
            <transportConnector name="mqtt" uri="mqtt://0.0.0.0:1883"/>
            <transportConnector name="openwire" uri="tcp://0.0.0.0:61616"/>

        </transportConnectors>
       
    </broker>
   
    <connectionFactory xmlns="http://activemq.apache.org/schema/core" id="connectionFactory"
                       brokerURL="tcp://0.0.0.0:61616"/>
   
    <bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.scala.jms.core.JmsTemplate" 
          c:connectionFactory-ref="jmsFactory"/>
</beans>